<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Test</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/scripts.js}"></script>
</head>
<body>
<!--<h1>Create a New Test</h1>-->

<form th:action="@{/tests/create}" th:object="${testDTO}" method="post">
    <div>
        <label for="testName">Test Name:</label>
        <input type="text" id="testName" th:field="*{testName}" required>
    </div>

    <div class="form-group">
        <label for="dateSchedule">Test Date:</label>
        <input type="date" id="dateSchedule" name="dateSchedule" required />
    </div>

    <div>
        <label for="duration">Duration (minutes):</label>
        <input type="number" id="duration" th:field="*{duration}" required>
    </div>

    <div id="questions-container">
        <!-- Dynamically added questions will go here -->
    </div>

    <button type="button" onclick="addQuestion()">Add Question</button>
    <button type="submit">Create Test</button>
</form>
</body>
</html>
