<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
<header>
    <h1>Lecturer Dashboard</h1>
    <a th:href="@{/logout}"  class="logout-btn">Logout</a>
</header>

<nav>
    <ul>
        <li><a href="#">Home</a></li>
<!--        <li><a th:href="@{/tests/create}" class="btn">Create Test</a></li>-->
        <li><a th:href="@{/my-tests}">View Tests</a></li>
        <li><a th:href="@{/add-course}">Create Test</a></li>
        <li><a href="#">Settings</a></li>
        <li><a th:href="@{/add-student}">Add Student</a></li>
    </ul>
</nav>

<main>
    <section class="welcome-section">
        <h2>Welcome</h2>
        <p>Quick overview of upcoming tests and pending grading tasks.</p>
    </section>






</main>

<footer>
    <p>Help | Contact</p>
</footer>
</body>
</html>
