<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="container">
    <h1>Welcome to the Test Platform</h1>
    <p>Please choose an option to proceed:</p>
    <div class="button-container">
        <a href="/login" class="btn">Lecturer</a>
        <a href="/student-login" class="btn btn-secondary">Student</a>
    </div>
</div>
</body>
</html>
