<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="form-container">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="emailAddress">Email:</label>
            <input type="email" id="emailAddress" name="emailAddress" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />
        </div>
        <button type="submit">Login</button>
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>
    </form>
    <div class="additional-links">
        <p><a th:href="@{/forgot-password}">Forgot Password?</a></p>
        <p>Don't have an account? <a th:href="@{/register}">Create account</a></p>
    </div>
</div>
</body>
</html>
