<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/studentDash.css}">
    <title>All Tests</title>
</head>
<body>
<header>
    <h1>All Available Tests</h1>
    <a th:href="@{/sign_out}" class="logout-button">Logout</a>
</header>

<nav>
    <ul>
        <li><a  th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/available-tests}">My Tests</a></li>
    </ul>
</nav>

<main>

</main>
<footer>
    <p>Help | Contact</p>
</footer>


</body>
</html>
