<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/studentDash.css}">
    <title>All Tests</title>
</head>
<body>
<header>
    <h1>All Available Tests</h1>
    <a th:href="@{/sign_out}" class="logout-button">Logout</a>
</header>

<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#" class="btn">Take Test</a></li>
        <li><a href="#">My Results</a></li>
    </ul>
</nav>

<main>
    <section class="all-tests">
        <h2>Available Tests</h2>
        <table>
            <thead>
            <tr>
                <th>Test Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="test : ${tests}">
                <td th:text="${test.testName}"></td>
                <td>
                    <a th:href="@{/take-test/{id}(id=${test.id})}" class="btn">Take</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<footer>
    <p>Help | Contact</p>
</footer>
</body>
</html>
